.heart {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  position: relative;
  width: 21px;
  height: 21px;

  .heart-mod {
    font-size: 21px;
  }

  .heart-after {
    width: 21px;
    height: 21px;
    position: absolute;
    font-size: 21px;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    background: linear-gradient(#9356dc -5.2%, #ff79da 110.74%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  &:hover {
    .heart-after {
      background: linear-gradient(#9356dc -5.2%, #ff79da 110.74%);
      background-clip: text;
      -webkit-text-fill-color: transparent;
      cursor: pointer;
      opacity: 1;
    }
  }
}