// FOOTER
.footer {
  background-color: #353535;
  display: flex;
  flex-direction: column;
  padding: 30px;
  gap: 10px;

  .footer__logo {
    font-family: Shrikhand;
    font-size: 20px;
    color: white;
  }

  .footer__com {
    display: flex;
    flex-direction: column;
    gap: 10px;

    a {
      text-decoration: none;
      color: white;
      font-size: 16px;
    }

    .footer__text {
      display: flex;
      flex-direction: row;
      gap: 16px;
      font-weight: 500;

      .footer__text__logo {
        font-size: 15px;
      }
    }

    .footer__text__modgap {
      display: flex;
      flex-direction: row;
      gap: 11px;

      .footer__text__icone {
        font-size: 15px;
      }
    }
  }

  .footer__info {
    font-weight: 400;
    display: flex;
    flex-direction: column;
    gap: 10px;

    a {
      text-decoration: none;
      color: white;
      font-size: 16px;
    }
  }
}

@media (min-width: 1024px) {
  .footer {
    flex-direction: row-reverse;
    gap: 70px;
    align-items: center;
    padding: 50px 80px 30px 30px;

    a {
      text-decoration: none;
      color: white;
    }

    .footer__com {
      flex-direction: row;
      order: 2;
    }

    .footer__info {
      order: 1;
      flex-direction: row;
      gap: 10px;
    }
  }
}