header {
  .logo {
    display: flex;
    box-shadow: none;
    align-items: flex-start;
    position: relative;

    a {
      text-decoration: none;
    }

    i {
      position: absolute;
      left: 20px;
      top: 5px;
    }

    .logo__img {
      box-shadow: none;
    }
  }
}