header {
  .logo {
    display: flex;
    align-items: flex-start;
    position: relative;

    a {
      text-decoration: none;
      color: black;
    }

    i {
      position: absolute;
      left: 20px;
      top: 5px;
    }

    .logo__img {
      box-shadow: none;
    }
  }

  .logo--restaurant {
    box-shadow: none;
  }
}

@media (min-width: 1024px) {
  header {
    .logo i {
      top: 20px;
    }
  }
}